/* Home.css */
.custom-container {
    background-color: #f8f9fa; /* Color de fondo personalizado */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra personalizada */
  }
  
  /* Puedes agregar más estilos según tus necesidades */
  